---
import HeadLayout from "../../layouts/head_layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../lib/utils.js";

// get post collection sorted by date
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

function formatString(input) {
  const maxLen = 30;
  if (input.length <= maxLen) {
    return input;
  } else {
    return input.slice(0, maxLen) + "...";
  }
}
---

<HeadLayout>
  <div class="flex flex-col items-center m-auto p-3 max-w-[900px]">
    <div class="flex flex-col mt-[20px] gap-[35px] w-full max-w-[700px]">
      {
        posts.map((post) => {
          return (
            <a
              class="flex flex-col sm:flex-row items-start sm:items-center rounded-lg py-2 px-3 w-full sm:justify-between hover:link"
              href={`/posts/${post.slug}`}
            >
              <div class="tooltip" data-tip={`${post.data.title}`}>
                <p class="text-xl text-left">{formatString(post.data.title)}</p>
              </div>
              <p>{formatDate(post.data.date)}</p>
            </a>
          );
        })
      }
    </div>
  </div>
</HeadLayout>
