---
import HeadLayout from "../../layouts/head_layout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { formatDate } from "../../lib/utils.js";

// get post collection sorted by date
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

function formatString(input) {
  const maxLen = 25;
  if (input.length <= maxLen) {
    return input;
  } else {
    return input.slice(0, maxLen) + "...";
  }
}
---

<script>
  const form = document.getElementById("searchInputForm");
  form?.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const searchInput = formData.get("searchInput")?.toString();
    if (!searchInput || searchInput.trim().length === 0) return;
    const url = new URL("/posts", window.location.origin);
    url.searchParams.set("q", searchInput);
    window.location.assign(url.toString());
  });
</script>

<HeadLayout>
  <div class="flex flex-col items-center m-auto p-3 max-w-[900px]">
    <form class="w-full flex justify-end mt-[20px] join" id="searchInputForm">
      <input
        class="input input-bordered join-item"
        placeholder="Search"
        name="searchInput"
      />
      <button type="submit" class="btn join-item">
        <Icon name="ph:github-logo" size={30} />
      </button>
    </form>
    <div class="flex flex-col mt-[20px] gap-[10px] w-full max-w-[600px]">
      {
        posts.map((post) => {
          return (
            <a
              class="flex flex-col sm:flex-row items-start sm:items-center rounded-lg py-2 px-3 w-full sm:justify-between hover:link"
              href={`/posts/${post.slug}`}
            >
              <div class="tooltip" data-tip={`${post.data.title}`}>
                <p class="text-xl">{formatString(post.data.title)}</p>
              </div>
              <p>{formatDate(post.data.date)}</p>
            </a>
          );
        })
      }
    </div>
  </div>
</HeadLayout>
