---
import HeadLayout from "../layouts/head_layout.astro";
import Profile from "../components/profile.astro";
---

<HeadLayout>
  <div class="mt-[55px] flex flex-col items-center">
    <Profile />
  </div>
</HeadLayout>
