---
import { Icon } from "astro-icon/components";
---

<div class="sticky top-0 left-0 right-0 p-3 flex items-center justify-end">
  <label class="swap swap-rotate">
    <input type="checkbox" class="theme-controller" value="light" />
    <Icon class="swap-on" size={30} name="ph:moon-bold" />
    <Icon class="swap-off" size={30} name="ph:sun-bold" />
  </label>
</div>
