---
const { prevURL, nextURL } = Astro.props;
import { Icon } from "astro-icon/components";
console.log(nextURL);
---

<div
  class={`mt-[15px]  flex items-center ${prevURL != undefined ? "justify-between" : "justify-end"} w-full`}
>
  {
    prevURL != undefined ? (
      <a class="btn shadow-lg" href={prevURL}>
        <Icon size={28} name="ph:caret-circle-left-bold" />
      </a>
    ) : null
  }
  {
    nextURL != undefined ? (
      <a class="btn shadow-lg" href={nextURL}>
        <Icon size={28} name="ph:caret-circle-right-bold" />
      </a>
    ) : null
  }
</div>
