---
import { Icon } from "astro-icon/components";
const socials = [
  { name: "Github", href: "https://github.com/axewbotx" },
  { name: "Discord", href: "https://discord.com/users/757816994178531369" },
];
---

<div class="max-w-[350px] md:max-w-[600px] w-full mt-[25px] lg:mt-[30px]">
  <p class="text-2xl flex items-center gap-[5px] justify-center">
    you can find me on
    <Icon size={25} name="ph:chat-circle-text" />
  </p>
  <div
    class="flex flex-col md:flex-row md:justify-center md:mt-[15px] gap-[5px] md:gap-[15px] mt-[5px] max-w-[300px] md:max-w-[700px] items-center"
  >
    {
      socials.map((social) => {
        return (
          <div class="flex gap-[10px] justify-start w-full max-w-[150px]">
            <Icon size={25} name={`ph:${social.name.toLowerCase()}-logo`} />
            <a href={social.href} class="text-xl link italic" target="_blank">
              {social.name}
            </a>
          </div>
        );
      })
    }
  </div>
</div>
