---
import "@fontsource-variable/fira-code";
const { title = "Axew's Living Room", description = "Axew's Living Room" } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/profile.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Fira Code Variable", sans-serif;
  }
</style>
