---
import HeadLayout from "./head_layout.astro";

const { title } = Astro.props.frontmatter;
const baseTitle = " - Axew's Living Room";
---

<HeadLayout title={title + baseTitle}>
  <div class="prose">
    <slot />
  </div>
</HeadLayout>
