---
import HeadLayout from "./head_layout.astro";

const { title } = Astro.props;
---

<HeadLayout {title}>
  <div class="flex justify-center w-full mt-[25px] md:mt-[40px]">
    <div class="prose p-2 max-w-[900px] flex-1">
      <slot />
    </div>
  </div>
</HeadLayout>
